html, body {
  height: 100%;
  width: 100%;
  

}
.flex-box{
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  padding: 8px 16px;
  border-radius: 20px 0 0 20px
  display: flex;
  flex-direction: column;
}
.a{
background: hsl(31, 77%, 52%);
}
.b{
background: hsl(184, 100%, 22%);
}
.c{
background: hsl(179, 100%, 13%);
}
.text{
  color: white;
}
p{
  margin-bottom: 20px;
}


button{
margin-top: 15px;
  background: white;
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
}
.x{
color: hsl(31, 77%, 52%);
}
.y{
color: hsl(184, 100%, 22%);
}
.z{
color: hsl(179, 100%, 13%);
}

.grid-container {
  display: grid;
  background-color: #000030;
  padding: 10px;
  grid-template-areas:
    'a a a b'
    ' a a a b'
     'c c d d'
    'c c e e'
;
  gap: 10px;
}
h1{

  margin-bottom: 30px;
}

.grid-container > div {
  text-align: center;
  padding: 40px 0;
  font-size: 30px;
}

.item1 {
  grid-area: a;
background-color: goldenrod;

}
.item2{
  grid-area: b;
background-color: cyan;
}
.item3{
 grid-area: c;
background-color: magenta;
}
.item4{
grid-area: d;
background-color: red;
}
.item5{
grid-area: e;
background-color: green;
}