html, body {
  height: 100%;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #ace5ec;

}
h3{
  margin: 13px 0 0;
}
h1{
  background-image:linear-gradient(to right,#27ae60 17.79%,#2f80ed 35.92%,#9b51e0 54.06%,#eb5757 71.08%,#f2994a 87.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
  color: #844dea;
}


/*NAVBAR SECTION  */
nav{
  display: flex;
  justify-content: space-between;
  padding: 12px 18px;
  
}
nav .left{
  color: #cd1ef1;
  font-size: 20px;
  font-weight: 600;
}
.nav-ul{
  display: flex;
  list-style: none;
  gap: 15px;
}
.nav-li{
  text-transform: uppercase;
  
}

a{
  color: #666666;
  text-decoration: none;
}

/*FIRST SECTION  */

#home{
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* SECOND SECTION */
.sub-title{
  text-align: center;
}
.sec{
  background-color: #d0ebd5;
  padding: 20px 8%;
  
}

.secondSection{
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.image{
  display: flex;
  justify-content: center;
}


.profile{
  
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}
.right{
  margin: auto 0;
}
.right h2, h4, h3{
  color: grey;
}
.about{
  margin: 15px 0 ;
}

.about h3{
  color: grey;
  margin: 0 0 6px;
}
.about p{
  line-height: 1.5;
  
}

/* PROJECTS */
#projects h3{
  text-decoration: underline #844dea;
}

.project-image{
  margin: 18px 10px;
  object-fit: cover;
  border-radius: 15px;
  width: 60%;
  height: 200px;
}

#services{
  margin: 12px 0;
}

#services p{
  margin: 10px 0;
  
}

/*FOOTER SECTION  */

footer{
  background: #844dea;
  color: white;
  display: flex;
  justify-content: space-around;
}

footer h3{
  margin: 8px 0 8px;
  color: white;
}

footer p{
  color: #d0cdcd;
  font-size: 14px;
  line-heigth: 1.5;
}

/*CONTACT PAGE  */

form{
  padding: 20px 8%;
}

.contact h3{
  margin: 15px 10% 0;
}

input{
   margin-top: 9px;
    width: 100%;
    height: 44px;
    padding: 4px 8px 4px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 37, 80, 0.1);
    background-color: #f9fafd;
    border-radius: 9px;
    outline: none;
    line-height: 18px;
    font-size: 16px;
    color: #1f2d5c;
}

textarea{
  margin-top: 9px;
    width: 100%;
    padding: 4px 8px 4px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 37, 80, 0.1);
    background-color: #f9fafd;
    border-radius: 9px;
    outline: none;
    line-height: 18px;
    font-size: 16px;
    color: #1f2d5c;
}


button{
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px 23px;
  margin: 15px ;
  color: grey;
}
button::hover{
  border: 1px solid goldenrod;
  opacity: 0.6;
}

